* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 10pt;
    font-weight: normal;
    font-family: Verdana, Tahoma, sans-serif
}
#main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #555;
    display:flex;
    align-items: center;
    justify-content: center;
}
#calculator{
    width: 300px;
    border-radius: 10px;
    background-color: rgb(66, 76, 88);
    box-shadow: 2px 2px rgba(0,0,0,0.50),
        2px 4px 4px rgba(0,0,0,0.25),
        4px 2px 5px rgba(0,0,0,0.50);
}
#screen{
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(161, 164, 167);
    box-shadow: inset 5px 30px  rgb(66, 76, 88),
        inset -5px -5px  rgb(66, 76, 88),
        inset 15px 40px rgb(123, 132, 149),
        inset -15px -15px rgb(123, 132, 149);
    padding: 40px 20px 20px 20px;
}
#screen #calc{
    font-family: monospace;
    font-size: 15pt;
    font-weight: bolder;
    text-align: right;
}


#keyboard {
    height: 190px;
    padding: 20px;
    padding-top: 10px;
    background-color: rgb(66, 76, 88);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.button{
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    box-shadow: inset 2px 2px rgba(255,255,255,0.20),
        2px 2px rgba(0,0,0,0.50),
        2px 4px 4px rgba(0,0,0,0.25),
        4px 2px 5px rgba(0,0,0,0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
div.button:hover{
    box-shadow: inset 1px 1px rgba(255,255,255,0.20),
        1px 1px rgba(0,0,0,0.50),
        2px 4px 4px rgba(0,0,0,0.25),
        4px 2px 5px rgba(0,0,0,0.50);
    cursor: pointer;
}
div.button:active{
    padding-left: 2px;
    box-shadow: inset 2px 2px rgba(0,0,0,0.50)
}
div.numberButton {
    background-color: rgb(123, 132, 149);
    color: rgb(225, 232, 242);
}
.operatorButton {
    background-color: rgb(3, 82, 148);
    color: rgb(225, 232, 242)
}
div.emptyButton{
    user-select: none;
    box-shadow: none;
}
div.emptyButton:hover{
    box-shadow: none;
    cursor:auto;
}
div.emptyButton:active{
    box-shadow: none;
    cursor:auto;
}
div.functionButton{
    background-color: rgb(20, 20, 20);
    color: rgb(225, 232, 242)
}